#root{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5rem;

    
}

@media (min-width: 320px) and (max-width: 540px) {
    #root{
        width: 100%;
        gap: 2rem;
    }
}

@media (min-width: 700px) and (max-width: 1200px) {
    #root{
        width: 90%;
    }
}